{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'custom.css' %}">
  <title>Pinterest Clone - home</title>
</head>
<body>
    <div class="app">
      <div id="sidenav">
        <div class="wrapper">
          <div class="menu">
            <ul>
              <!-- If login as admin -->
                  <ul>
                    <li><a href="{% url 'sign in' %}" class="login">Login</a></li>
                    <li><a href="{% url 'sign up' %}" class="Register">Register</a></li>
                  </ul>
            </ul>
          </div>
        </div>
      </div>
    </div>

  <div class="Welcome">
    <h1>Вы успешно вышли с аккаунта!</h1>
    <br>
    <p class="p2">Для того чтобы увидеть посты, зарегистрируйтесь пожалуйста или войдите в аккаунт!</p>
  </div>

</body>
</html>